* {
  font-family: "Segoe UI", Verdana, sans-serif;
  margin: 0;
}

header h1 {
  position: fixed;
  color: rgb(14, 14, 14);
  padding-left: 20px;
  font-weight: 500;
  padding-top: 10px;
  width: 250px;
  background-color: #d9d9d9;
  background-color: transparent;
}

#login_main {
  margin-bottom: 416.5px;
}

.login_container {
  position: relative;
  transform: translate(0%, 60%);
  margin: auto;
  text-align: left;
  width: 280px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: -50px 0px 30px 30px rgba(0, 0, 0, 0.4);
  color: rgb(14, 14, 14);
}

.login_container h2 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 400;
}

.login_form {
  margin-top: 20px;
}

.form_group {
  margin-bottom: 20px;
}

.form_group input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  background-color: #e7e7e7;
  box-sizing: border-box;
  color: rgb(14, 14, 14);
  box-shadow: 0px 0px 2px 0px black;
}

.form_group input::placeholder {
  color: rgb(14, 14, 14);
}

.form_group input:focus {
  outline: none;
}
.form_group button {
  background-color: transparent;
  border: solid;
  border-width: 2px;
  border-color: rgb(14, 14, 14);
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(14, 14, 14);
  width: 100%;
}

.form_group button:hover {
  background-color: rgb(230, 230, 230);
}

.form_group button:active {
  background-color: rgb(217, 217, 217);
}

#username {
  margin-top: 5px;
}
#password {
  margin-top: 5px;
}
footer {
  position: fixed;
  background-color: #84848400;
  width: 100%;
  text-align: left;
  bottom: 0;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}

footer p {
  margin-left: 10px;
  margin-top: 8px;
  padding-right: 20px;
}

.body_color {
  z-index: -10;
  background-color: rgb(23, 43, 76);
  position: fixed;
  margin-top: 18px;
  margin-left: 270px;
  height: 100%;
  width: 90%;
  border-top-left-radius: 30px;
  box-shadow: -2.5px -2.5px 2.5px 1px rgb(0, 0, 0);
}

.aside_color {
  z-index: -11;
  background-color: rgb(244, 244, 244);
  height: 100%;
  width: 100%;
  position: fixed;
}
#scrum_section {
  display: flex;
  padding-bottom: 110px;
}
#date_col {
  width: 100px;
  font-size: 8;
}

#title_col {
  width: 400px;
}

#retrospective_title {
  margin-left: 400px;
  margin-top: 35px;
  width: fit-content;
  color: rgb(217, 217, 217);

  /* Apply animation to this element */
  -moz-animation: example5 5s linear infinite alternate;
  -webkit-animation: example5 5s linear infinite alternate;
  animation: example5 5s linear infinite alternate;
}
/* Move it (define the animation) */
@-moz-keyframes example5 {
  0% {
    -moz-transform: translateX(70%);
  }
  100% {
    -moz-transform: translateX(0%);
  }
}
@-webkit-keyframes example5 {
  0% {
    -webkit-transform: translateX(70%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes example5 {
  0% {
    -moz-transform: translateX(70%); /* Firefox bug fix */
    -webkit-transform: translateX(70%); /* Firefox bug fix */
    transform: translateX(70%);
  }
  100% {
    -moz-transform: translateX(0%); /* Firefox bug fix */
    -webkit-transform: translateX(0%); /* Firefox bug fix */
    transform: translateX(0%);
  }
}

#retrospective_list {
  table {
    flex-shrink: 0;
    margin-left: 400px;
    color: #000000;
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
    border-width: 2px;
    padding-top: 12px;
    margin-top: 21px;
    width: 500px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.349);
  }

  th {
    text-align: left;
    text-align: center;
  }

  thead {
    th {
      background-color: #55608f;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: rgba(0, 0, 0, 0.199);
        cursor: pointer;
      }
    }
  }
}

/*
 #retrospective {
  background-color: #ffffffab;
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 25%);
  width: 500px;
  height: 300px;
}
*/

.column {
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 10px;
  width: 300px;
  height: 489px;
  background-color: rgb(244, 244, 244);
  border-radius: 12px;
  border-width: 2px;
  padding-top: 12px;
  margin-top: 80px;
}

#column1 {
  margin-left: 400px;
}

.title {
  text-align: center;
  font-size: 16px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  border-bottom: solid;
  color: rgb(14, 14, 14);
  font-weight: bold;
}

.task {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-bottom: 1px;
  font-size: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
  box-shadow: 0px 0.1px 1px 0.3px rgb(160, 160, 160);
  margin-left: 18px;
  margin-right: 18px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #ffffff;
  color: #0e0e0e;
  border: solid;
  border-width: 1.8px;
  border-color: transparent;
}

.task:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0.8px 0.3px rgb(160, 160, 160);
  border-color: #252525;
}

.drag {
  background-color: #aa0000;
  color: #000000;
}

.task {
  padding-bottom: 2px;
}
.task_title {
  margin-left: 10px;
  width: 215px;
}

.task_btn {
  border-radius: 50%;
  font-size: 14px;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  margin-bottom: 2px;
  width: 22px;
  padding: 2px;
  visibility: hidden;
}

.task_btn:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.task_list {
  display: flex;
  flex-direction: column;
  height: 404.5px;
  overflow: auto;
}

.task_list::-webkit-scrollbar {
  width: 9px;
}

.task_list::-webkit-scrollbar-thumb {
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
}

.task_list::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(186, 186, 186);
  margin-top: 5px;
}

#btn_task {
  width: 280px;
  border: none;
  text-align: left;
  padding-left: 5px;
  font-size: 15px;
  padding-top: 3px;
  margin-bottom: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding-bottom: 3px;
  background-color: rgb(244, 244, 244);
}
#btn_task:hover {
  background-color: rgb(230, 230, 230);
  padding-bottom: 8px;
  cursor: pointer;
}

#btn_task:active {
  background-color: rgb(217, 217, 217);
}

aside {
  position: fixed;
  margin-top: 55px;
  flex-shrink: 0;
  width: 270px;
  background-color: rgb(217, 217, 217);
  height: 755px;
  z-index: 1;
  color: rgb(14, 14, 14);
  background-color: transparent;
}

#user {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}
#menu {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 8px;
}

#menu button:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

#menu button:active {
  background-color: rgb(217, 217, 217);
}
#menu h1 {
  margin-bottom: 17px;
  font-size: 28px;
}
#btn_sprint {
  margin-top: 80px;
}

#menu button {
  border-radius: 5px;
  width: 96%;
}
.menu_item {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
  border: transparent;
  padding-left: 20px;
  width: 88%;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  visibility: hidden;
  background-color: #1b1b1bae;
  z-index: 2;
}

.modal {
  position: fixed;
  height: 380px;
  width: 400px;
  background-color: rgb(244, 244, 244);
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  visibility: hidden;
}

#modal_retrospective {
  position: fixed;
  height: 400px;
  width: 600px;
  background-color: rgb(244, 244, 244);
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  visibility: hidden;
}

#modal_cancel {
  border-radius: 50%;
  font-size: 17.5px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 0px 0px 10px 0px;
  height: 17px;
  width: 25px;
  margin: 5px 12px 0px 370px;
  text-align: center;
  cursor: pointer;
}

#modal_cancel:hover {
  background-color: rgb(230, 230, 230);
}

#modal_cancel:active {
  background-color: rgb(217, 217, 217);
}

.label_modal {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 30px;
  color: rgb(14, 14, 14);
  font-weight: bold;
}

#modal_title {
  background-color: transparent;
  height: 30px;
  margin: 0px 30px 10px 30px;
  border-radius: 5px;
  color: rgb(14, 14, 14);
  padding-left: 7px;
  padding-top: 3px;
}

#modal_description {
  background-color: transparent;
  height: 210px;
  margin: 0px 30px 10px 30px;
  overflow-y: auto;
  border-radius: 5px;
  color: rgb(14, 14, 14);
  padding-left: 7px;
  padding-top: 3px;
}

#modal_settings {
  width: 390px;
  height: 280px;
}

#main_settings {
  display: flex;
}
#settings_section {
  margin-left: 40px;
  color: rgb(14, 14, 14);
}
#modal_cancel2 {
  border-radius: 50%;
  font-size: 17.5px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 0px 9px 26px 6px;
  height: 17px;
  width: 25px;
  margin: 5px 12px 0px 265px;
  text-align: center;
  cursor: pointer;
}

#modal_cancel2:hover {
  background-color: rgb(230, 230, 230);
}

#modal_cancel2:active {
  background-color: rgb(217, 217, 217);
}

#settings_header {
  display: flex;
  color: rgb(14, 14, 14);
}
#title_settings {
  font-size: 26px;
  font-weight: bolt;
  margin-top: 18px;
  margin-left: 18px;
}
.colors {
  margin-top: 20px;
  margin-left: 10px;
}

#background_color {
  margin-left: 25px;
}

#aside_color {
  margin-left: 70px;
}

#toDo_color {
  margin-left: 68px;
}

#doing_color {
  margin-left: 67px;
}

#done_color {
  margin-left: 72px;
}

.settings_buttons {
  margin-top: 15px;
  margin-left: 20px;
  border-radius: 5px;
  background-color: transparent;
  border: solid;
  border-color: rgb(14, 14, 14);
  color: rgb(14, 14, 14);
  font-size: 16px;
  border-width: 2px;
  width: 100px;
  padding-bottom: 7px;
  cursor: pointer;
}
.settings_buttons:hover {
  background-color: rgb(230, 230, 230);
}

.settings_buttons:active {
  background-color: rgb(217, 217, 217);
}

#btns_settings {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  flex-direction: column;
}
