* {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

form label {
    border-radius: 15px;
    text-shadow: 0 2px 4px rgba(211, 211, 211, 0.1);
    color: #ffffff71;
}

form input {
    width: 90%;
    border: 1px solid #ccccccb5;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button {
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    color: #ffffffa7;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}

form button:hover {
    opacity: 1;
    cursor: pointer;
}

body {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    left: 0;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.442);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login_container {
    justify-content: center;
    display: flex;
    align-items: stretch;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scrum-board {
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title_app {
    border-radius: 15px;
    text-shadow: 0 2px 4px rgba(211, 211, 211, 0.1);
    color: #ffffff71;
}

.column {
    width: 300px;
    background-color: #ffffff37;
    opacity: 100%;
    margin: 10px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column h2 {
    color: transparent;
    margin-bottom: 10px;
    text-shadow: rgba(121, 118, 118, 0) 1px 1px 1px,
        rgba(255, 255, 255, 0.506) -1px -1px 1px;
}

.column h3 {
    color: rgba(0, 0, 0, 0.6);
    opacity: 100%;
    margin-bottom: 10px;
}

.task {
    background-color: rgba(255, 255, 255, 0.649);
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    opacity: 100%;
    margin-bottom: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    cursor: grab;
}

/* Estilo opcional para quando estiver sendo arrastado */
.dragging {
    opacity: 0.5;
}
