@font-face {
   font-family: chalkBoardFont;
   src: url(DkCrayonCrumble-ddll.ttf);
}

@font-face {
   font-family: badscript;
   src: url(BadScript-Regular.ttf);
}

@font-face {
   font-family: indieFlower;
   src: url(IndieFlower-Regular.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

* {
   margin: 0;
   padding: 0;
}

/*Edit Tarefa*/

header {
   text-align: center;
   font-family: chalkBoardFont;
   font-size: 30px;
   background-color: whitesmoke;
   padding: 18px;
}

#username {
   font-family: Arial, Helvetica, sans-serif;
   text-align: right;
   font-size: small;
}

.taskBody {
   background-color: whitesmoke;
}

.taskMain {
   padding: 20px;
}

.descricaoTarefa {
   margin: 25px auto;
   background: #ffae36;
   color: #fff;
   border: 1px solid #dddddd;
   border-radius: 5px;
   height: 23em;
   width: 23em;
   padding: 1em;
   box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
   transform: rotate(-2deg);
   overflow-y: auto;
}

.descricaoTarefa:hover,
.descricaoTarefa:focus {
   box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
   transform: scale(1.1);
   position: relative;
}

.descricaoTarefa h2 {
   color: #000;
   font-family: indieFlower;
   font-weight: bold;
   font-size: 2rem;
   margin-bottom: 10px;
}

.descricaoTarefa p {
   color: #000;
   font-family: indieFlower;
   font-size: 1.5rem;
   font-weight: normal;
   margin-bottom: 20px;
}

.buttons {
   display: flex;
   justify-content: center;
}

button {
   background-color: #4caf50;
   border: none;
   color: white;
   cursor: pointer;
   margin-left: 10px;
   padding: 8px 16px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   border-radius: 5px;
}

button:hover {
   background-color: #45a049;
}

footer {
   position: fixed;
   bottom: 0px;
   background-color: rgb(0, 0, 0, 0.65);
   width: 100%;
   text-align: center;
   left: 0;
   height: 45px;
}

footer p {
   font-family: "Segoe UI", Verdana, sans-serif;
   color: white;
   margin-top: 8px;
   font-size: 16px;
   text-align: center;
}

/*Form*/
#tituloForm {
   align-content: top;
   display: flex;
   justify-content: center;
}

.formBody {
   font-family: Arial, sans-serif;
   background-color: #f4f4f4;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

form {
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 20px;
   width: 400px;
}

label {
   display: block;
   margin-bottom: 8px;
}

input,
select,
textarea {
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
   box-sizing: border-box;
}

#members {
   margin-bottom: 8px;
}

#addComment {
   margin-bottom: 14px;
}
