@font-face {
    font-family: chalkBoardFont;
    src: url(DkCrayonCrumble-ddll.ttf);
}

@font-face {
    font-family: reenieBeanie;
    src: url(ReenieBeanie-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: chalkBoardFont;
    font-size: 30px;
    background-color: whitesmoke;
    padding: 18px;
 }

#username{
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    font-size: small;
}

body {
    background-color: whitesmoke;
}

main {
    padding: 20px;
}

.descricaoTarefa {
    margin: 25px auto;
    background: #ffae36;
    color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    height: 23em;
    width: 23em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-2deg);
    overflow-y: auto;
}

.descricaoTarefa:hover,.descricaoTarefa:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.1);
    position:relative;
    z-index:2;
}

.descricaoTarefa h2 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
}

.descricaoTarefa p {
    color: #000;
    font-family: reenieBeanie;
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    align-content: baseline;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 0px;
    background-color: grey;
    color: white;
 }

 #foot {
    font-size: small;
    text-align: center;
 }